In [1]:
import pandas as pd
import plotly.express as px

In [2]:
sun = pd.read_csv("../data/SN_d_tot_V2.0.csv", sep=';')
sun.columns = ['Year', 'Month', 'Day', 'Fractional Date', 'SunSpot Count', "DailyStDev", "Observations", 'Indicator']
# sun

### Let's clean this up a bit by:

 + Combing Year Month and Day
 + Convert that to a pandas DateTime object
 + Set that as the index since they are inorder and unique
 + Delete Year Month and Day columns
 
### So, from nine columns (including the index) to six

In [3]:
sun['Date'] = sun['Year'].map(str)+ '-' + sun['Month'].map(str) + '-' + sun['Day'].map(str)
sun.index = pd.to_datetime(sun['Date'], utc=False)
sun = sun[['Date', 'SunSpot Count', 'DailyStDev', 'Observations', 'Indicator', 'Fractional Date'] ]
sun.drop('Date', axis=1, inplace=True)
sun.head(2)

,SunSpot Count,DailyStDev,Observations,Indicator,Fractional Date
Date,,,,,
1818-01-02,-1,-1.0,0,1,1818.004
1818-01-03,-1,-1.0,0,1,1818.007

### If I make this into a website, I might have a field to look up the # on a given day

In [20]:
sun.loc['2020-01-01']

SunSpot Count         6.000
DailyStDev            0.300
Observations         18.000
Indicator             1.000
Fractional Date    2020.001
Name: 2020-01-01 00:00:00, dtype: float64

### Daily is probably a bit busy for a chart of two hundred years so let's try weekly

In [ ]:
# weekly_obs = sun.groupby(pd.Grouper(key='index', freq="1W")).sum().resample('1W').sum('Observations')

# #df.groupby(pd.Grouper(key='column_name', freq="M")).mean().plot()

# #weekly_data = paid_search.groupby("Channel").resample('W-Wed', label='right', closed = 'right', on='Day').sum().reset_index().sort_values(by='Day')